<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.JoexorArcofe.excoapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_excoapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_excoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExcoApp">
        <activity android:name=".Resultats"
            android:screenOrientation="portrait"/>
        <activity android:name=".Inici"
            android:screenOrientation="portrait"/>
        <activity android:name=".TriarTema"
            android:screenOrientation="portrait"/>
        <activity android:name=".Ajustes"
            android:screenOrientation="portrait"/>
        <activity android:name=".Registre"
            android:screenOrientation="portrait"/>
        <activity android:name=".Ranking"
            android:screenOrientation="portrait"/>
        <activity android:name=".User_Config" />
        <activity android:name=".Quiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>